In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import scipy
import sklearn
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn import linear_model
import statsmodels.formula.api as smf

In [86]:
df = pd.read_csv('Table_8_Offenses_Known_to_Law_Enforcement_by_New_York_by_City_2014.csv')

In [87]:
df.head()

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition)1,Robbery,Aggravated assault,Property crime,Burglary,Larceny- theft,Motor vehicle theft,Arson
0,Adams Village,"1,851",0,0,NaN,0,0,11,1,10,0,0.0
1,Addison Town and Village,"2,568",2,0,NaN,1,1,49,1,47,1,0.0
2,Afton Village4,820,0,0,0,0,0,1,0,1,0,0.0
3,Akron Village,"2,842",1,0,NaN,0,1,17,0,17,0,0.0
4,Albany4,"98,595",802,8,54,237,503,"3,888",683,"3,083",122,12.0

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 12 columns):
City                                    369 non-null object
Population                              369 non-null object
Violent
crime                           369 non-null object
Murder and
nonnegligent
manslaughter    369 non-null int64
Rape
(revised
definition)1              227 non-null object
Robbery                                 369 non-null object
Aggravated
assault                      369 non-null object
Property
crime                          368 non-null object
Burglary                                369 non-null object
Larceny-
theft                          368 non-null object
Motor
vehicle
theft                     369 non-null object
Arson                                   365 non-null float64
dtypes: float64(1), int64(1), object(10)
memory usage: 34.7+ KB

In [89]:
df = df.rename(columns={'Violent\ncrime': 'Violent_crime', 'Murder and\nnonnegligent\nmanslaughter': 'Murder','Rape\n(revised\ndefinition)1': 'Rape', 'Aggravated\nassault': 'Aggravated_assault','Property\ncrime': 'Property_crime', 'Larceny-\ntheft': 'Larceny_theft', 'Motor\nvehicle\ntheft': 'Motor_vehicle_theft'})

In [90]:
df['Rape'].dropna().str.replace(',', '').astype(int).mean()

15.555066079295154

In [96]:
df['Rape'] = df['Rape'].fillna(15.56)

In [ ]:
df['Rape'] = df['Rape'].str.replace(',', '')
df['Rape'] = pd.to_numeric(df['Rape'])

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 12 columns):
City                   369 non-null object
Population             369 non-null object
Violent_crime          369 non-null object
Murder                 369 non-null int64
Rape                   369 non-null float64
Robbery                369 non-null object
Aggravated_assault     369 non-null object
Property_crime         368 non-null object
Burglary               369 non-null object
Larceny_theft          368 non-null object
Motor_vehicle_theft    369 non-null object
Arson                  365 non-null float64
dtypes: float64(2), int64(1), object(9)
memory usage: 34.7+ KB

In [114]:
df.isna().sum()

City                   0
Population             0
Violent_crime          0
Murder                 0
Rape                   0
Robbery                0
Aggravated_assault     0
Property_crime         0
Burglary               0
Larceny_theft          0
Motor_vehicle_theft    0
Arson                  0
dtype: int64

In [112]:
df['Property_crime'] = df['Property_crime'].fillna(0)
df['Larceny_theft'] = df['Larceny_theft'].fillna(0)
df['Arson'] = df['Arson'].fillna(0)

In [113]:
df['Property_crime'] = df['Property_crime'].fillna(0)
df['Larceny_theft'] = df['Larceny_theft'].fillna(0)

In [116]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 369 entries, 0 to 368
Data columns (total 12 columns):
City                   369 non-null object
Population             369 non-null int64
Violent_crime          369 non-null int64
Murder                 369 non-null int64
Rape                   369 non-null float64
Robbery                369 non-null int64
Aggravated_assault     369 non-null int64
Property_crime         369 non-null float64
Burglary               369 non-null int64
Larceny_theft          369 non-null float64
Motor_vehicle_theft    369 non-null int64
Arson                  369 non-null float64
dtypes: float64(4), int64(7), object(1)
memory usage: 34.7+ KB

In [103]:
columns

Index(['City', 'Population', 'Violent_crime', 'Murder', 'Rape', 'Robbery',
       'Aggravated_assault', 'Property_crime', 'Burglary', 'Larceny_theft',
       'Motor_vehicle_theft', 'Arson'],
      dtype='object')

In [ ]:
for column in columns[5:]:
    df[column] = df[column].str.replace(',', '')
    df[column] = pd.to_numeric(df[column])

In [118]:
df.corr()

,Population,Violent_crime,Murder,Rape,Robbery,Aggravated_assault,Property_crime,Burglary,Larceny_theft,Motor_vehicle_theft,Arson
Population,1.000000,0.998902,0.985440,0.994111,0.998219,0.999212,0.996264,0.976500,0.997703,0.992623,0.024178
Violent_crime,0.998902,1.000000,0.991161,0.996403,0.999837,0.999912,0.998015,0.983074,0.998617,0.996263,0.036431
Murder,0.985440,0.991161,1.000000,0.991513,0.993065,0.989494,0.994554,0.995962,0.992427,0.997834,0.088805
Rape,0.994111,0.996403,0.991513,1.000000,0.996657,0.995787,0.996646,0.986804,0.996431,0.995961,0.081636
Robbery,0.998219,0.999837,0.993065,0.996657,1.000000,0.999526,0.998384,0.985304,0.998658,0.997437,0.042640
Aggravated_assault,0.999212,0.999912,0.989494,0.995787,0.999526,1.000000,0.997376,0.980877,0.998243,0.995096,0.028958
Property_crime,0.996264,0.998015,0.994554,0.996646,0.998384,0.997376,1.000000,0.990837,0.999746,0.998376,0.074078
Burglary,0.976500,0.983074,0.995962,0.986804,0.985304,0.980877,0.990837,1.000000,0.987570,0.994336,0.155493
Larceny_theft,0.997703,0.998617,0.992427,0.996431,0.998658,0.998243,0.999746,0.987570,1.000000,0.997153,0.060789
Motor_vehicle_theft,0.992623,0.996263,0.997834,0.995961,0.997437,0.995096,0.998376,0.994336,0.997153,1.000000,0.092605
Arson,0.024178,0.036431,0.088805,0.081636,0.042640,0.028958,0.074078,0.155493,0.060789,0.092605,1.000000

Even though there is extremely high collinearity between the variables, I will continue with the linear regression for the purposes of this exercise

In [119]:
regr = linear_model.LinearRegression()

In [120]:
X = df[['Population','Violent_crime', 'Murder', 'Rape', 'Robbery',
       'Aggravated_assault','Burglary', 'Larceny_theft',
       'Motor_vehicle_theft', 'Arson']]
Y = df['Property_crime']

In [121]:
regr.fit(X,Y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [122]:
print('\nCoefficients: \n', regr.coef_)
print('\nIntercept: \n', regr.intercept_)
print('\nR-squared:')
print(regr.score(X, Y))

Coefficients:
 [-8.01499023e-07 -1.78552051e-03 -4.79460701e-03  1.66728646e-03
  1.83472155e-03  1.78609300e-03  9.99923862e-01  1.00006781e+00
  1.00026459e+00 -2.64810901e-04]

Intercept:
 -0.024664745154723278

R-squared:
0.9999999986666832

In [125]:
from sklearn.model_selection import cross_val_score
cross_val_score(regr, X, Y, cv=10)

array([1.        , 1.        , 0.99999999, 1.        , 1.        ,
       0.99999999, 1.        , 1.        , 1.        , 0.99999767])